<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="primeno.naval.com.primenumberusingndk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 1 Allow permission to use camera -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 2 Allow camera to optimize to the dimensions of the device in use -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--Wifi peer to peer-->
    <!--1 Request permission to use the Wi-Fi hardware on the device and also declare
    your application to have the correct minimum SDK version in the Android manifest:-->
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Google Play filtering -->
    <uses-feature android:name="android.hardware.wifi.direct" android:required="true"/>
    <!--Wifi peer to peer-->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"/>
    <!-- 3 Use Front camera and autofocus of camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CtrlBrightnessActivity">
        </activity>
        <!-- 4 Create An activity for the Camera -->
        <activity
            android:name=".MyActivityShowCamera"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="opencv.naval.show.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="opencv.naval.show.ImagesActivity">
        </activity>
        <activity
            android:name="opencv.naval.show.FeaturesActivity"
            android:label="@string/title_activity_feature">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:icon="@drawable/ic_launcher_act"
            android:name="wifipeertopeer.MyWifiActivity"
            android:label="@string/title_activity_feature">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="opencv.naval.show.DocumentScanningActivity"
            android:label="@string/title_activity_lens"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Used for transferring files  after a successful connection -->
        <service android:enabled="true" android:name="wifipeertopeer.FileTransferService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="primeno.wifipeertopeer.com.primenumberusingndk.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <receiver
            android:name="wifipeertopeer.WiFiDirectBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>